
#Body, html, body, .Head, .SubHead, .SubSubHead, .Normal, .TeamDetail_info li a, .TeamDetail_info li a:link, .TeamDetail_info li a:active, .TeamDetail_info li a:visited {
    color: #8a8a8a;
    font-family: "Arial";
    font-size: 13px;
    line-height: 1.8;
}
html, button, input, select, textarea {
    font-family: "Arial";
}
#dnn_wrapper {
    background: #fff none repeat scroll 0 0;
    width: auto;
}
A, A:link, A:active, A:visited, A:hover {
    color: #3b9cf7;
}
.ls-layer, .ls-layer * {
    font-family: "Arial" !important;
}
h1 {
    color: #3b9cf7;
    font-family: "Arial";
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}
h2 {
    color: #3b9cf7;
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
h3 {
    color: #000000;
    font-family: "Arial";
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
h4 {
    color: #000000;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}
h5 {
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}
.price-table1 .price_title, .price-table1 a.btn:hover, .price-table1 .best_value .btn, .price-table2 .best_value .btn, .price-table2 .best_value .price_box, .price-table2 [class*="col-md"]:hover .price_box, .price-table2 [class*="col-md"]:hover .btn, .price-table3 a.btn:hover, .price-table3 [class*="col-md"]:hover .price_title span, .price-table3 [class*="col-md"]:hover .btn, .price-table3 .best_value .btn, .price-table4 .price_title, .price-table4 a.btn:hover, .price-table4 [class*="col-md"]:hover .price_title span, .price-table4 [class*="col-md"]:hover .btn, .price-table4 .best_value .btn {
    background-color: #3b9cf7;
}
.price-table2 .price_title h2, .price-table2 .price_box, .price-table2 a.btn:hover, .price-table3 .price_title h2, .price-table3 .price_title span, .price-table3 .price_box, .price-table4 .price_box {
    color: #3b9cf7;
}
.loaded_list .progress .bar, .loaded_list_1 .progress .bar {
    background-color: #3b9cf7;
}
.number_Animation, .number_Animation_2 .number, .number_Animation_3 .number, .number_Animation_3 .glyphicons {
    color: #3b9cf7;
}
.chart_list .percentage1, .chart_list_2 .percentage1, .chart_list_2 .percentage1 .percentage_inner {
    color: #3b9cf7;
}
.Testimonials_list .Testimonials_list_info span, .Testimonials_1 blockquote small span, .Testimonials_2 blockquote small span, .Testimonials_3 blockquote small span, .circle_slider1 blockquote small {
    color: #3b9cf7;
}
.Testimonials_tab .last_page:hover, .Testimonials_tab .next_page:hover {
    border: 1px solid #3b9cf7;
    color: #3b9cf7;
}
.Testimonials_tab .dot a {
    border: 1px solid #3b9cf7;
}
.Testimonials_tab .dot a.actived::before {
    background-color: #3b9cf7;
}
.image_more_info span {
    background-color: #3b9cf7 !important;
}
.horizontalTab_Top_1 ul.resp-tabs-list li span, .horizontalTab_Top_1 .Tab_ico, .horizontalTab_Top_2 ul.resp-tabs-list li.resp-tab-active span, .horizontalTab_Top_3 .Tab_ico, .horizontalTab_Top_4 ul.resp-tabs-list li.resp-tab-active span, .horizontalTab_Top_4 .Tab_ico, .verticalTab_Left_1 ul.resp-tabs-list li.resp-tab-active {
    background-color: #3b9cf7;
}
.horizontalTab_Top_1 ul.resp-tabs-list li.resp-tab-active {
    border-top: 3px solid #3b9cf7;
}
.horizontalTab_Top_3 ul.resp-tabs-list li.resp-tab-active span {
    border-top: 2px solid #3b9cf7;
}
.horizontalTab_Top_4 .resp-tabs-container {
    border: 2px solid #3b9cf7;
}
@media only screen and (max-width: 768px) {
.horizontalTab_Top .resp-tab-active, .horizontalTab_Top .resp-tab-active:hover, .verticalTab_Left .resp-tab-active, .verticalTab_Left .resp-tab-active:hover, .verticalTab_Right .resp-tab-active, .verticalTab_Right .resp-tab-active:hover {
    background-color: #3b9cf7;
}
}
.accordion_1 .panel-default > .panel-heading a, .accordion_1 .panel-default > .panel-heading a:hover, .accordion_2 .panel-default > .panel-heading a, .accordion_2 .panel-default > .panel-heading a:hover, .accordion_3 .panel-default > .panel-heading a, .accordion_3 .panel-default > .panel-heading a:hover, .accordion_4 .panel-default > .panel-heading a, .accordion_4 .panel-default > .panel-heading a:hover, .accordion_5 .panel-default > .panel-heading a.collapsed:hover, .accordion_6 .panel-default > .panel-heading a, .accordion_6 .panel-default > .panel-heading a:hover, .accordion_6 .panel-default > .panel-heading a.collapsed:hover {
    color: #3b9cf7;
}
.accordion_2 .panel-default .accordion_icon, .accordion_3 .panel-default .accordion_icon, .accordion_4 .panel-default .accordion_icon, .accordion_5 .panel-heading + .panel-collapse .panel-body, .accordion_5 .panel-default > .panel-heading a, .accordion_6 .panel-default .accordion_icon {
    background-color: #3b9cf7;
}
.quotes_2 blockquote {
    border-left: 2px solid #3b9cf7;
}
.quotes_3 blockquote {
    background-color: #3b9cf7;
}
.dropcaps_2, .dropcaps_4 {
    color: #3b9cf7;
}
.dropcaps_5, .dropcaps_6 {
    background-color: #3b9cf7;
}
.carousel .owl-page.active, .carousel_1 .item:hover .pic span, .carousel_2 .item:hover .pic span, .carousel_2 .owl-buttons .owl-prev:hover, .carousel_2 .owl-buttons .owl-next:hover, .carousel_3 .owl-buttons .owl-prev:hover, .carousel_3 .owl-buttons .owl-next:hover, .carousel_3 .pic {
    background-color: #3b9cf7;
}
.text_sytle_6 .social-icons a:hover, .carousel_1 .ico, .carousel_1 h3 {
    color: #3b9cf7;
}
.photo_box .ico span, .photo_box.ico_push_in .ico, .photo_box.content_top_increment .content h3, .content_sytle_2 .shade, .photo_box.content_push_in .content, .photo_box.entirety_bevel:hover .shade {
    background-color: #3b9cf7;
}
.photo_box.icon_tag_push .ico::before {
    border-right-color: #3b9cf7;
    border-top-color: #3b9cf7;
}
.text_sytle_4 h3 span {
    border-bottom-color: #3b9cf7;
}
.flip_box_1 .front .glyphicons, .flip_box_1 .back a.but, .flip_box_3 .back {
    background-color: #3b9cf7;
}
.player_boxes h1.player_title {
    color: #3b9cf7;
}
.player_boxes .player_line {
    border-top-color: #3b9cf7;
}
.player_boxes .player_line {
    border-bottom: 2px solid #3b9cf7;
}
a.Button_blue {
    background-color: #3b9cf7;
}
.Skin_01_Default.galler_datail .single_meta a:hover {
    color: #3b9cf7;
}
.Skin_02_Default #filters li.selected a, .Skin_02_Default #filters li.selected a:hover, .Skin_02_Default .filter-switch, .galler_datail .gallery_tags a:hover {
    background-color: #3b9cf7;
}
.Skin_02_Default #filters li a:hover, .Skin_02_Default .sort_box li a:hover, .Skin_02_Default .portfolio_categories a:hover, .Skin_02_Default.galler_datail .single_meta a:hover, .Skin_02_Default .portfolio_descr .name a:hover {
    color: #3b9cf7;
}
.Skin_02_Default .comment_form .submit_button .CommandButton {
    border: 1px solid #3b9cf7 !important;
    color: #3b9cf7 !important;
}
.Skin_03_Default .filter-switch, .Skin_03_Default .view-tenth:hover .portfolio_descr {
    background-color: #3b9cf7;
}
.Skin_03_Default #filters li.selected a, .Skin_03_Default #filters li.selected a:hover, .Skin_03_Default #filters li a:hover, .Skin_03_Default .sort_box li a:hover {
    color: #3b9cf7;
}
.Skin_03_Default .comment_form .submit_button .CommandButton {
    color: #3b9cf7 !important;
}
.Skin_01_Default.news_list .post_categories a:hover, .Skin_01_Default.news_list .post_more a:hover, .Skin_01_Default.news_detail .post_categories a:hover, .Skin_01_Default.news_detail .post_more a:hover {
    color: #3b9cf7 !important;
}
.Skin_03_Simple .single_meta a:hover, .Skin_03_Simple.simple_list h2.news_title a:hover {
    color: #3b9cf7 !important;
}
.Skin_04_Box .post_date a:hover, .Skin_04_Box.news_list h2.news_title a:hover {
    color: #3b9cf7 !important;
}
.Skin_04_Box .post_categories a:hover {
    background-color: #3b9cf7;
}
.Skin_04_Box .comment_form .submit_button .CommandButton {
    border: 1px solid #3b9cf7 !important;
    color: #3b9cf7 !important;
}
.Skin_05_timeline .news_post_box .post_box h2.news_title a:hover, .Skin_05_timeline .news_post_box .post_box .post_date a:hover, .Skin_05_timeline .news_detail_top h2.news_title {
    color: #3b9cf7;
}
.Skin_05_timeline .news_post_box .post_box .post_more a:hover {
    background: #3b9cf7 none repeat scroll 0 0;
    border: 1px solid #3b9cf7;
}
.Skin_05_timeline .news_detail_top .tab_right .news_detail_username a:hover, .Skin_05_timeline.news_detail .post_date a:hover, .Skin_05_timeline .comment_content .comment_date a, .Skin_05_timeline .comment_content .comment_date a:link, .Skin_05_timeline .comment_content .comment_date a:active, .Skin_05_timeline .comment_content .comment_date a:visited, .Skin_05_timeline .comment_content .comment_date a:hover, .Skin_05_timeline .post_author_info .author_desc {
    color: #3b9cf7 !important;
}
.Skin_05_timeline .news_date_box span, .Skin_05_timeline .news_date_box span i, .Skin_05_timeline .news_more_box span, .Skin_05_timeline .news_more_box .line span, .Skin_05_timeline .news_post_box .news_post .dot, .Skin_05_timeline .news_date_box span, .Skin_05_timeline .news_date_box span i, .Skin_05_timeline .news_more_box span, .Skin_05_timeline .xblog_page .pager {
    background-color: #3b9cf7;
}
.Skin_05_timeline .comment_form .Post_button .CommandButton {
    background: #3b9cf7 none repeat scroll 0 0 !important;
}
.Theme_21_LinkAndZoom_Normal .next:hover, .Theme_21_LinkAndZoom_Normal .prev:hover, .Theme_21_LinkAndZoom_Normal .pager a.selected, .Theme_21_LinkAndZoom_Default .next:hover, .Theme_21_LinkAndZoom_Default .prev:hover, .Theme_21_LinkAndZoom_Default .pager a.selected {
    background-color: #3b9cf7 !important;
}
.Theme_19_Normal .filter_navigation ul li.selected a, .Theme_19_Normal .filter_navigation ul li a:hover {
    color: #3b9cf7 !important;
}
.Theme_19_Default .filter_navigation ul ul li.selected a, .Theme_19_Default .filter_navigation ul ul li a:hover, .Theme_19_Default .view-tenth .mask {
    background-color: #3b9cf7 !important;
}
.boxes_style_4 .boxes, .boxes_style_5 .boxes .but a.Button_default:hover {
    background-color: #3b9cf7;
}
.boxes_style_6 .boxes {
    border-bottom: 3px solid #3b9cf7;
}
.text_sytle_4 h3 span {
    border-bottom: 1px solid #3b9cf7;
}
.boxes_style_5 .boxes {
    border-top: 3px solid #3b9cf7;
}
.boxes_style_1 .boxes, .boxes_style_7 .boxes {
    border-left: 3px solid #3b9cf7;
}
.boxes_style_8 a.Button_default:hover {
    background-color: #3b9cf7;
    border-color: #3b9cf7;
}
#to_top, .ServeList_5 .Serve_Icon {
	
}
#to_top::before {

}
#to_top:hover {
    background-color: #3b9cf7;
}
.ServeList .ServeBox, .ServeList .ServeBox .Serve_Icon .glyphicons, .ServeList_4 .Serve_Icon {
    border: 3px solid #3b9cf7;
}
.ServeList .ServeBox .Serve_Icon, .ServeList_2 .Serve_Icon, .ServeList_4 .Serve_Icon, .ServeList_6 .ServeBox:hover .Serve_Icon .glyphicons, .ServeList_7 .Serve_Icon, .list_style1 li a:hover, .list_style7 li .glyphicons, .list_style8 ul li span.glyphicons, .social_list a:hover span, .social-icons2 a:hover, a.Button_arrow, .TeamDetail .Teamtitle h3 span, .comment_list .info span, .blockquote_sytle_2 small span {
    color: #3b9cf7;
}
.Button_arrow .ico::before {
    border-left-color: #3b9cf7;
}
.ServeList_6 h3::after, .list_style8 .title::after {
    border-bottom-color: #3b9cf7;
}
.ServeList .ServeBox:hover .Serve_Icon, .ServeList_3 .Serve_Icon, .ServeList_4 .ServeBox:hover .Serve_Icon, .ServeList_5 .Serve_Icon span, .ServeList_5 .but:hover, .backgroundImage4::before, .backgroundImage16, a.Button_normal, a.Button_white:hover, a.Button_gray:hover, a.Button_gray2:hover, a.Button_Accent:hover, a.Button_Accent2:hover, .list_style3 li::before, .list_style8 .ico span, .ourteam_1 .pic, .faq_list dt .ico_q {
    background-color: #3b9cf7;
}
.list_style2 li .ico, a.Button_default, a.Button_arrow .ico, .isotope_grid .isotope_group a:hover, .isotope_grid .isotope_group a.active {
    border: 1px solid #3b9cf7;
    color: #3b9cf7 !important;
}
a.Button_Accent, a.Button_Accent:link, a.Button_Accent:active, a.Button_Accent:visited, a.Button_Accent2, a.Button_Accent2:link, a.Button_Accent2:active, a.Button_Accent2:visited {
    border: 1px solid #3b9cf7;
    color: #3b9cf7;
}
.list_style8 .ico {
    border: 1px solid #3b9cf7;
}
.dividers_8 .glyphicons {
    background-color: #3b9cf7;
}
.dividers_4 {
    border-bottom: 2px solid #3b9cf7;
}
a.Button_arrow .ico::before {
    border-bottom: 1px solid #3b9cf7;
    border-right: 1px solid #3b9cf7;
}
.Container-5 .dnntitle, .title6, .Container-6 .dnntitle {
    border-bottom: 1px solid #3b9cf7 !important;
}
.Container-1 .line span, .Container-2 .line, .Container-5 .dnntitle::before, .title4::before, .title4::after {
    background-color: #3b9cf7 !important;
}
.Container-7 .dnntitle {
    border-left: 2px solid #3b9cf7 !important;
}
.title10 {
    color: #3b9cf7 !important;
}
.Text_layouts .photo_box a:hover span, .Sidebar_layouts_categories .glyphicons, .Sidebar_layouts_links .glyphicons {
    color: #3b9cf7;
}
.List_layouts_text hr {
    border-color: #3b9cf7;
}
.Single_page a {
    border-color: #3b9cf7;
    color: #3b9cf7;
}
a.page_control:hover, a.page_number:hover {
    border-color: #3b9cf7;
    color: #3b9cf7 !important;
}
.Grid_layouts .photo_box .shade, .Text_layouts .photo_box .shade, .Single_page a:hover {
    background-color: #3b9cf7;
}
.banner5_btn a, .banner5_circle1, .banner5_circle2, .compute_buy_btn a, .compute1_text ul li .glyphicons, .compute2_text ul li .glyphicons, .compute1_text a, .compute2_text a {
    background-color: #3b9cf7;
}
.compute_price {
    color: #3b9cf7;
}
.compute_buy_btn a::after {
    border-color: #3b9cf7 transparent transparent;
}
.number_Animation5 .number_box, .carousel_7 .owl-buttons .owl-prev:hover::before, .carousel_7 .owl-buttons .owl-next:hover::before {
    border-color: #3b9cf7;
}
.foot_star {
    color: #3b9cf7;
}
.title13 {
    background-color: #3b9cf7 !important;
}
.title13 span {
    color: #3b9cf7 !important;
}
.title13::before {
    border-color: transparent transparent #3b9cf7 !important;
}
.title13::after {
    border-color: #3b9cf7 transparent transparent !important;
}
.HeadPaneA {
    display: none !important;
}
.Login a:hover {
    color: #3b9cf7;
}
.searchBox {
    background-color: #000000;
    border-top-color: #3b9cf7;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.searchBox a, .searchBox a:link, .searchBox a:active, .searchBox a:visited, .searchBox input.NormalTextBox {
    color: #8c8c8c;
}
.searchBox a:hover {
    color: #3b9cf7;
}
.header_bg .dnn_logo {
    height: 103px;
    line-height: 103px;
}
.roll_menu.roll_activated #top_menu > div > ul > li > a > span, .roll_menu.roll_activated #dnngo_megamenu > div > ul > li > a > span, .roll_menu.roll_activated #roll_menu > div > ul > li > a > span {
    height: 45px;
    line-height: 45px;
}
.roll_menu.roll_activated .dnn_logo {
    height: 45px;
    line-height: 45px;
}
.roll_menu.roll_activated .dnn_logo img {
    margin: -1px 0 0;
    padding: 0;
    vertical-align: middle;
}
.roll_menu.roll_activated .header_top {
    display: none;
}
.header_top, .header_top a:link, .header_top a:active, .header_top a:visited, .header_top .Normal {
    color: #8c8c8c;
}
.header_top a:hover, .Login .registerGroup li.userMessages:hover::before, .Login .registerGroup li.userNotifications:hover::before {
    color: #3b9cf7 !important;
}
#dnngo_megamenu ul, .multi_menu {
    font-family: "Arial";
}
#header1 {
    position: relative;
    z-index: 904;
}
.header_top {
    background-color: #0d0d0d;
}
#header1::before {
    background-color: #000000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.hedaer_minHeight {
    background-color: #000000;
}
.Login .registerGroup li.userMessages a span, .Login .registerGroup li.userNotifications a span {
    background-color: #3b9cf7;
}
#dnngo_megamenu > div > ul {
    display: inline-block;
    vertical-align: middle;
}
* + html #dnngo_megamenu > div > ul {
    display: inline;
}
#dnngo_megamenu > div > ul > li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0 15px;
}
#dnngo_megamenu > div > ul > li > a > span {
    font-size: 13px;
    font-weight: normal;
    height: 103px;
    line-height: 103px;
    text-transform: uppercase;
    transition: color 200ms ease-in 0s;
}
#dnngo_megamenu > div > ul > li.dir > a > span {
    white-space: nowrap;
}
#dnngo_megamenu > div > ul > li.dir > a > span::after {
    content: "+";
    display: inline-block;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    padding-left: 5px;
}
#dnngo_megamenu .primary_structure > li > a, .searchbut {
    color: #8c8c8c;
}
#dnngo_megamenu > div > ul > li > a:hover > span, #dnngo_megamenu > div > ul > li.menu_hover > a > span, #dnngo_megamenu > div > ul > li.current > a > span {
    color: #3b9cf7;
}
#dnngo_megamenu .dnngo_menuslide .dnngo_slide_menu a, #dnngo_megamenu .dnngo_menuslide .dnngo_boxslide a, #dnngo_megamenu .dnngo_menuslide, #dnngo_megamenu .dnngo_slide_menu li {
    color: #8c8c8c;
}
#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a span::before {
    border-left-color: #8c8c8c;
}
#dnngo_megamenu .dnngo_boxslide .menu_centerbox > ul > li > a > span, #dnngo_megamenu .dnngo_boxslide .dnngo_masonrymenu > ul > li > a > span, #dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a:hover {
    color: #3b9cf7;
}
#dnngo_megamenu .dnngo_slide_menu, #dnngo_megamenu .dnngo_slide_menu .dnngo_submenu, #dnngo_megamenu .dnngo_boxslide {
    background-color: #000000;
    border-top-color: #3b9cf7;
}
#dnngo_megamenu .dnngo_slide_menu li a:hover, #dnngo_megamenu .dnngo_slide_menu li.menu_hover > a {
    border-left: 1px solid #3b9cf7;
    color: #3b9cf7;
}
#dnngo_megamenu .dnngo_slide_menu li.menu_hover, #dnngo_megamenu .dnngo_slide_menu li:hover {
    color: #3b9cf7;
}
#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a:hover span::before {
    border-left-color: #3b9cf7;
}
.mega_title {
    color: #3b9cf7 !important;
}
@media only screen and (min-width: 1200px) {
#dnngo_megamenu > div > ul > li {
    margin: 0 20px;
}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
#dnngo_megamenu > div > ul > li {
    margin: 0 5px;
}
}
@media only screen and (max-width: 767px) {
.header_bg, .roll_menu.roll_activated {
    position: relative !important;
    top: 0 !important;
}
.header_bg .dnn_logo, .roll_menu.roll_activated .dnn_logo {
    height: auto;
    line-height: normal;
    padding: 25px 0;
}
.header_element .icon {
    color: #8c8c8c;
    margin-top: -1px;
    vertical-align: top;
}
.mobile_icon .glyphicons {
    background-color: #3b9cf7;
}
#mobile_menu {
    border-top: 1px solid #3b9cf7;
}
.multi_menu ul li.active > a, .multi_menu ul li a:hover, .multi_menu ul li.current > a, .multi_menu ul li.current > a:hover {
    color: #3b9cf7;
}
.multi_menu ul li:hover > a > .menu_arrow::before {
    border-bottom: 2px solid #3b9cf7;
    border-right: 2px solid #3b9cf7;
}
.multi_menu ul li .menu_arrow.arrow_closed::before, .multi_menu ul li:hover .menu_arrow.arrow_closed::before {
    border-color: #3b9cf7 -moz-use-text-color -moz-use-text-color #3b9cf7;
    border-style: solid none none solid;
    border-width: 2px medium medium 2px;
}
}
.header_bg {
    position: static;
}
.roll_replace {
    position: static;
}
.Breadcrumb_bg {
    background: #000 url("images/breadcrumb_1.jpg") no-repeat scroll center bottom / cover ;
}
.breadcrumbBox {
    display: none;
    padding: 30px 0;
}
.breadcrumbBox, .breadcrumbBox a, .breadcrumbBox a:link, .breadcrumbBox a:active, .breadcrumbBox a:visited, .breadcrumbBox .breadcrumb {
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
}
.breadcrumbBox a:hover {
    color: #3b9cf7;
    text-decoration: none;
}
.breadcrumbBox h3 {
    color: #ffffff;
    font-family: Arial;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}
.breadcrumbBox h3 span {
    display: none;
}
.breadcrumb_Pane {
    margin-bottom: 5px;
}
.breadcrumb_Pane .Normal {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}
.breadcrumbRight {
    padding: 0;
    text-align: center;
}
.breadcrumbRight .glyphicons {
    display: none;
}
.footer_box {
    background-attachment: scroll;
    background-image: url("images/bg.jpg");
    background-position: center top;
    background-repeat: repeat;
    background-size: auto auto;
}
.footer_bottom {
    font-weight: normal !important;
}
.FootPaneD {
    background-color: #1e2429;
}
.FootPaneE {
    background-color: #1e2429;
}
.FootPaneF {
    background-color: #1e2429;
}
.footer_box .Normal {
    color: #737373;
}
.link_list li a:hover, .footer_box .Testimonials_10 small, .footer_box .social_list2 a:hover {
    color: #3b9cf7;
}
.footer_box .Testimonials_10 .dot a.actived, .footer_box .tags_list a:hover, .footer_box .image_gallery a {
    background-color: #3b9cf7;
}
.FooterPane .Normal, .copyright_style, .copyright_style a, .copyright_style a:link, .copyright_style a:active, .copyright_style a:visited, .FooterPane .social-icons a {
    color: #666666;
}
.FooterPane a:hover, .copyright_style a:hover {
    color: #3b9cf7;
}
legend .SubHead {
    color: #ffffff !important;
}
