.head_title_gray {
    background: #F7F8F9;
    border: 1px solid #E3E8ED;
    border-bottom: 0;
    height: 20px;
    padding: 10px 15px;
}

.TitleHeaderGray {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
}

.head_title_gray {
    background: #F7F8F9;
    border: 1px solid #E3E8ED;
    border-bottom: 0;
    height: 20px;
    padding: 10px 15px;
}

.TitleHeaderGray {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
}