/***********************************************************

    FORM STYLES

************************************************************/

.form-control-feedback {
  color: #ccc;
}

.selectGlyph {
  padding-right: 20px;
}

label {
    font-family: "OpenSans", "Lato-Light", Lato, Tahoma, sans-serif;
    font-size: 12px;
}

label small {
  font-weight: 100;
}

fieldset label, fieldset .control-label {
    font-size: 12px;
    padding-top: 0px;
    text-align: right;
}

/*******************************************
    Custom Radio Buttons
*******************************************/

/* hide input */
input.radio:empty {
	margin-left: -99999px;
    display: none;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	text-indent: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 1px;
	left: 0;
	content: '';
	width: 1.4em;
  height: 1.4em;
	background: #FFF;
	border-radius: 3px;
  border: 1px solid #333;
  font-weight: normal;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	font-family: FontAwesome;
  content:'\f00c';
  padding-right: 1px;
	text-indent: .14em;
	color: #3D64A8;
  font-weight: normal;
}

/* FireFox Fix for custom checks */
@-moz-document url-prefix() {
    input.radio:hover:not(:checked) ~ label:before,
    input.radio:checked ~ label:before,
    input.checkbox:hover:not(:checked) ~ label:before,
    input.checkbox:checked ~ label:before {
        line-height: 1.1;
        padding-right: 1px;
    }
}

/* IE 10+ Fix for custom checks  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    input.radio:hover:not(:checked) ~ label:before,
    input.radio:checked ~ label:before,
    input.checkbox:hover:not(:checked) ~ label:before,
    input.checkbox:checked ~ label:before {
        line-height: 1.3;
        padding-right: 1px;
    }
}


/* toggle on */
input.radio:checked ~ label:before {
	font-family: FontAwesome;
  content:'\f00c';
	text-indent: 0.1em;
	color: #FFF;
	background-color: #3D64A8;
  border-color: #3D64A8;
  font-weight: normal;
}

input.radio:checked ~ label {
	color: #3D64A8;
}

input.radio:hover:not(:checked) ~ label:before,
input.radio:checked ~ label:before,
input.checkbox:hover:not(:checked) ~ label:before,
input.checkbox:checked ~ label:before {
  padding-right: 1px;
}


/*******************************************
    Custom Checkboxes
*******************************************/

.prefSelect div {
    margin: 15px auto;
    clear: both;
}

/* hide input */
input.checkbox:empty {
	margin-left: -99999px;
    display: none;
}

/* style label */
input.checkbox:empty ~ label {
	position: relative;
	float: left;
	text-indent: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.checkbox:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 1px;
	left: 0;
	content: '';
	width: 1.4em;
    height: 1.4em;
	background: #FFF;
	border-radius: 3px;
    border: 1px solid #333;
    font-weight: normal;
}

/* toggle hover */
input.checkbox:hover:not(:checked) ~ label:before {
	font-family: FontAwesome;
    content:'\f00c';
	text-indent: .14em;
	color: #3D64A8;
    font-weight: normal;

}

/* toggle on */
input.checkbox:checked ~ label:before {
	font-family: FontAwesome;
  content:'\f00c';
	text-indent: .09em;
	color: #FFF;
	background-color: #3D64A8;
  border-color: #3D64A8;
  font-weight: normal;
}

input.checkbox:checked ~ label {
	color: #3D64A8;
}

.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  background: #FFF;
  border: 1px solid: #CCC !important;
  width: 100%;
}

.tt-query, .tt-hint {
    width: 396px;
    height: 30px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.tt-suggestion {
    padding: 6px 12px;
    font-size: 13px;
    line-height: 16px;
    color: #666;
}

.techPhys div:first-child, .techPhys div:last-child {
  padding-top: 3px;
}
